@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  body{
    background-color: #18191A;
  }